
:root {
  --font-size-default: 16px;
}


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&family=Rubik:wght@300;400;600;700&display=swap');

$font-primary: 'Nunito Sans', sans-serif;
$font-secondary: 'Rubik', sans-serif;

$font-weight-default: 300;
$font-weight-medium: 400;
$font-weight-heavy: 600;
$font-weight-bold: 700;